In [1]:
import requests
from bs4 import BeautifulSoup
url = 'https://en.wikipedia.org/wiki/List_of_Telugu_films_of_2021'
r = requests.get(url)
soup = BeautifulSoup(r.text, 'html.parser')

In [2]:
def get_cast():
    # get_list_of_rows_part_of_first_column()
    rows = table.find_all('tr')
    i = 1
    lis = []
    range = len(rows)
    while i < range:
        #this condition of i==10 is only for this specific table......
        #if i==10:
         #   td = rows[i].find_all('th')[0]
        #else:
         #   td = rows[i].find_all('td')[0]
        #................................................................
        # for all other tables following line is enough
        td = rows[i].find_all('td')[0]
        if 'rowspan' in td.attrs:
            inc = int(td.attrs['rowspan'])
            #inc = td.attrs['rowspan']
            k = int(inc)
            lis.append(i)
            i = i+k

        else:
            lis.append(i)
            i = i+1
    lis.append(len(rows))
    
    
    # get_list_of_rows_part_of_second_column()
    j= 0
    n = len(lis)
    lis2 = []
    x =1
    while x < n:
        i = lis[j]
        range = lis[j+1]
        lis1 = []
        while i < range:
            if i == lis[j]:
                td = rows[i].find_all('td')[1]
                if 'rowspan' in td.attrs and td.attrs['rowspan']!= '1':
                    inc = int(td.attrs['rowspan'])
                    lis1.append(i)
                    i = i+inc
                else:
                    lis1.append(i)
                    i = i+1


            else:
                td = rows[i].find_all('td')[0]
                if 'rowspan' in td.attrs and td.attrs['rowspan']!= '1':
                    inc = int(td.attrs['rowspan'])
                    lis1.append(i)
                    i = i+inc

                else:
                    lis1.append(i)
                    i = i+1
                    #lis.append(i)
        lis2.append(lis1)
        j = j+1
        x = x+1

        
    # get cast
    k = 0
    rows = table.find_all('tr')[0:]
    cast = []
    #for row in rows:
    while k<len(lis)-1:
        x = lis[k]
        y = lis[k+1]
        m = []
        while x < y:
            crew = []
            if x in lis2[k]:
                if x in lis:
                    tds = rows[x].find_all('td')[4]
                    for ul in tds.find_all('ul'):
                        for link in ul.find_all('li'):
                            crew.append(link.text)
                    cast.append(crew)
                else:
                    tds = rows[x].find_all('td')[3]
                    for ul in tds.find_all('ul'):
                        for link in ul.find_all('li'):
                            crew.append(link.text)
                    cast.append(crew)
            else:
                tds = rows[x].find_all('td')[2]
                for ul in tds.find_all('ul'):
                    for link in ul.find_all('li'):
                        crew.append(link.text)
                cast.append(crew)
            m.append(x)
            x = x+1

        k +=1
    return cast

In [3]:
def get_cast3():
    # get_list_of_rows_part_of_first_column()
    rows = table.find_all('tr')
    i = 1
    lis = []
    range = len(rows)
    while i < range:
        #this condition of i==10 is only for this specific table......
        if i==10:
            td = rows[i].find_all('th')[0]
        else:
            td = rows[i].find_all('td')[0]
        #................................................................
        # for all other tables following line is enough
        #td = rows[i].find_all('td')[0]
        if 'rowspan' in td.attrs:
            inc = int(td.attrs['rowspan'])
            #inc = td.attrs['rowspan']
            k = int(inc)
            lis.append(i)
            i = i+k

        else:
            lis.append(i)
            i = i+1
    lis.append(len(rows))
    
    
    # get_list_of_rows_part_of_second_column()
    j= 0
    n = len(lis)
    lis2 = []
    x =1
    while x < n:
        i = lis[j]
        range = lis[j+1]
        lis1 = []
        while i < range:
            if i == lis[j]:
                td = rows[i].find_all('td')[1]
                if 'rowspan' in td.attrs and td.attrs['rowspan']!= '1':
                    inc = int(td.attrs['rowspan'])
                    lis1.append(i)
                    i = i+inc
                else:
                    lis1.append(i)
                    i = i+1


            else:
                td = rows[i].find_all('td')[0]
                if 'rowspan' in td.attrs and td.attrs['rowspan']!= '1':
                    inc = int(td.attrs['rowspan'])
                    lis1.append(i)
                    i = i+inc

                else:
                    lis1.append(i)
                    i = i+1
                    #lis.append(i)
        lis2.append(lis1)
        j = j+1
        x = x+1

        
    # get cast
    k = 0
    rows = table.find_all('tr')[0:]
    cast = []
    #for row in rows:
    while k<len(lis)-1:
        x = lis[k]
        y = lis[k+1]
        m = []
        while x < y:
            crew = []
            if x in lis2[k]:
                if x in lis:
                    tds = rows[x].find_all('td')[4]
                    for ul in tds.find_all('ul'):
                        for link in ul.find_all('li'):
                            crew.append(link.text)
                    cast.append(crew)
                else:
                    tds = rows[x].find_all('td')[3]
                    for ul in tds.find_all('ul'):
                        for link in ul.find_all('li'):
                            crew.append(link.text)
                    cast.append(crew)
            else:
                tds = rows[x].find_all('td')[2]
                for ul in tds.find_all('ul'):
                    for link in ul.find_all('li'):
                        crew.append(link.text)
                cast.append(crew)
            m.append(x)
            x = x+1

        k +=1
    return cast

In [4]:
table = soup.select('table')[3]
cast1 = get_cast()
table = soup.select('table')[4]
cast2 = get_cast()
table = soup.select('table')[5]
cast3 = get_cast()
table = soup.select('table')[6]
cast4 = get_cast()
cast1.extend(cast2)
cast1.extend(cast3)
cast1.extend(cast4)
cast_2021 = cast1

In [5]:
import pandas as pd
import numpy as np
df = pd.DataFrame(cast_2021)

In [6]:
df = df.replace(np.nan, ' ')

In [7]:
df['cast1'] = df[0]+' '+df[1]+' '+df[2]+' '+df[3]+' '+df[4]+' '+df[5]+' '+df[6]+' '+df[7]+' '+df[8]+' '+df[9]

In [8]:
li = list(df['cast1'])
lis = []
for i in range(len(li)):
    k = li[i].rstrip()
    lis.append(k)

In [9]:
df['cast'] = lis

In [10]:
df['cast'].to_csv('cast2021.csv', index = False)

In [11]:
df1 = pd.read_csv('cast2021.csv')
df1

                                                 cast
0   Ravi Teja Shruti Haasan Varalaxmi Sarathkumar ...
1   Priyadarshi Pulikonda Harshith Malgireddy Mani...
2   Ram Pothineni Nivetha Pethuraj Malvika Sharma ...
3   Bellamkonda Sreenivas Nabha Natesh Anu Emmanue...
4   Punarnavi Bhupalam Mahat Raghavendra Sudarshan...
..                                                ...
61  Allu Arjun Rashmika Mandanna Jagapathi Babu Pr...
62  Sharwanand Siddharth Aditi Rao Hydari Anu Emma...
63      Venkatesh Varun Tej Tamannaah Mehreen Pirzada
64  Vijay Deverakonda Ananya Panday Ramya Krishna ...
65  N. T. Rama Rao Jr Ram Charan Ajay Devgn Alia B...

[66 rows x 1 columns]